{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Fish Health Monitoring {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/book.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}
  </head>
  <body data-bs-theme="light">
    <main class="d-flex flex-row">
      <div
        class="flex-shrink-0 bg-dark-blue p-4 min-vh-100 py-auto"
        style="width: 16rem"
      >
        {% include 'partials/sidebar.html' %}
      </div>
      <div class="flex-grow-1">
        <div class="container" style="width: 60rem">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
