{% extends 'layouts/admin.html' %} {% load static %} {% block content %}

<div class="row justify-content-center my-4 py-4">
  <div class="col-12">
    <div class="card card-body shadow-sm p-4">
      <h3 class="card-title">Harvest Statistics</h3>
      <p class="card-text">Monthly fish harvest by weight</p>
      <canvas id="chart"></canvas>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{% static 'vendor/chartjs/chart.min.js' %}"></script>
<script>
  const labels = [
  {% for entry in data %}
    "{{ entry.month }}",
  {% endfor %}
  ];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "Harvest Statistics in KGs",
        data: [
          {% for entry in data %}
            {{ entry.total_weight }},
          {% endfor %}
        ],
        backgroundColor: [
          "rgba(255, 99, 132, 0.2)",
          "rgba(255, 159, 64, 0.2)",
          "rgba(255, 205, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(153, 102, 255, 0.2)",
          "rgba(201, 203, 207, 0.2)",
        ],
        borderColor: [
          "rgb(255, 99, 132)",
          "rgb(255, 159, 64)",
          "rgb(255, 205, 86)",
          "rgb(75, 192, 192)",
          "rgb(54, 162, 235)",
          "rgb(153, 102, 255)",
          "rgb(201, 203, 207)",
        ],
        borderWidth: 1,
      },
    ],
  };
  const config = {
    type: "bar",
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  };
  const myChart = document.getElementById("chart").getContext("2d");
  new Chart(myChart, {
    type: "bar",
    options: { scales: { y: { beginAtZero: true } } },
    data: data,
  });
</script>
{% endblock %} {% block title %} Dashboard {% endblock %}
