{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="row justify-content-center my-4 py-4">
  <div class="col-12">
    <h2 class="text-center mb-3">Recent Fish Updates</h2>
  </div>
  {% for fish in page_object %}
  <div class="col-md-6">
    <div class="card shadow mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          {% if fish.image%}
          <img
            src="/media/{{ fish.image }}"
            class="img-fluid rounded-start"
            style="height: 200px"
            alt="{{ fish.name }}"
          />
          {% else %}
          <img
            src="/static/img/placeholder.png"
            class="img-fluid rounded-start"
            style="height: 200px"
            alt="{{ fish.name }}"
          />
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ fish.name }}</h5>
            <p class="card-text">
              {{fish.description|truncatechars:200|default:''|safe}}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">
                {{ fish.created_at|timesince }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block title %} Home - Fish Health Monitoring {% endblock %}
