{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="row justify-content-center my-4 py-4">
	<div class="col-md-6">
		<h2 class="text-blue fw-bolder my-4">
			Fish Health Monitoring and Disease Management
		</h2>
		{% include 'partials/messages.html' %}
		<div class="card card-body text-white bg-blue shabow p-4 w-75">
			<h1>Sign in</h1>
			<p>Enter your credentials to log in</p>
			<form action="post" method="#" autocomplete="off" class="text-center">
				<input
					required
					type="text"
					name="username"
					class="form-control mb-3"
					placeholder="Username"
				/>
				<input
					required
					type="password"
					name="password"
					class="form-control mb-3"
					placeholder="Password"
				/>
				{% csrf_token %}
				<button type="subimt" class="btn btn-light w-50">Login</button>
				<p class="my-3">
					Not a member?
					<a href="/signup" class="text-white">Create an account</a>
				</p>
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="d-flex flex-direction-column">
			<img
				src="{% static 'img/fish-1.jpg' %}"
				class="rounded-4"
				alt="fish 1"
				width="300"
				height="400"
				loading="lazy"
			/>
			<img
				src="{% static 'img/fish-2.jpg' %}"
				class="rounded-4"
				alt="fish 2"
				width="250"
				height="200"
				loading="lazy"
			/>
		</div>
	</div>
</div>

{% endblock %} {% block title %} Log in - Fish Disease {% endblock %}
